
body {
    font-family: sans-serif;
    background: url('../images/header.png') no-repeat center top;
}

#root {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 280px;
}

.condition-button {
    background-color: #cce2ee;
    border: 1px solid;
    border-color: #abcee1 #94bace #7da6bd;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: inset 0 1px 2px 0 rgba(255,255,255,.15),0 1px 1px rgba(0,0,0,.1);
    color: #548da9;
    text-shadow: 0 1px 1px #FFF;
    -webkit-font-smoothing: antialiased;
    background-clip: padding-box;
    cursor: pointer;
}

.condition-button[disabled] {
    background-color: #CCC;
    box-shadow: none;
    border: 1px solid #AAA;
    color: #777;
    cursor: default;
}



.segment-group {
    border: 1px solid #DDD;
    padding: 0 20px;
    background: #FCFCFC;
    border-radius: 4px;
    list-style: none;
    display: block;
    margin: 10px 0;
}

.rule-row:last-child {
    border-bottom: none;
}

.rule-row {
    border-bottom: 1px dashed #DDD;
    padding: 15px 0;
    position: relative;
    height: 26px;
}

input[type=text], input[type=search] {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-top-color: #c9c9c9;
    border-radius: 3px;
    padding: 5px 6px;
    box-shadow: 0 1px 1px rgba(255,255,255,.45),0 0 2px rgba(74,139,217,0),0 -1px 0 rgba(0,0,0,.02),inset 0 1px 0 rgba(0,0,0,.04),inset 0 2px 0 rgba(0,0,0,.02),inset 1px 0 0 rgba(0,0,0,.04),inset -1px 0 0 rgba(0,0,0,.04);
    transition: border-color .3s ease;
}